*{
    margin:0;
    padding:0;
    font-family: 'Pacifico', cursive;
}
header{
    background:linear-gradient(to right,#cc2b5e, #753a88);
    color:#fff;
    text-shadow:  1px 1px 2px #2b2b2b;
    padding:16px;
}
header #appname{
    display:block;
    text-align: center;
    font-size:24px;
    padding:8px;
}
header input, header button{
    padding:15px;
    display: inline-block;
    box-sizing: border-box;
    outline: none;
    border:none;
    font-size:16px;
    box-shadow: 2px 2px 0px #333;
}
header input{
    width:80%;
}
header button{
    margin-left: -4px;
    width: 19%;
    text-align: center;
    transition: 0.25s;
}
header button:hover{
    background:#02aab0;
    color:#eee;
}
/* list remind */
#list li{
    position: relative;
    list-style-type:none;
    padding:12px;
    padding-left:40px;
    font-size:18px;
    transition: 0.55s;
    background:linear-gradient(to right,#fff, #fff);
    background-position: -200px;
    cursor: pointer;
}
#list li:hover{
    background:linear-gradient(to right,#c74b74, #f7bb97);
    background-position:0;
}
#list .done{
    padding-left:22px;
    text-decoration: line-through;
}
#list .done:before{
        content: '✓';
        margin-right:7px;
        display:inline-block;
}
#list li .remove{
    position: absolute;
    right:0;
    padding: 0 25px;
    margin-top:-12px;
    box-sizing: border-box;
    border:none;
    background:none;
    font-size:20px;
    height:100%;
    transition:0.25s;
}
#list li .remove:hover{
    background:rgb(231, 85, 85);
    color:#fff;
}