*{
    margin:0;
    padding:0;
    outline:none;
    font-family: 'Baloo Bhai', cursive;
}
header{
    background:linear-gradient(to right,#cc2b5e, #753a88);
    color:#fff;
    text-shadow:  1px 1px 2px #2b2b2b;
    padding:16px;
}
header #appname{
    display:block;
    text-align: center;
    font-size:24px;
    padding:8px;
}
header input, header button{
    padding:15px;
    display: inline-block;
    box-sizing: border-box;
    outline: none;
    border:none;
    font-size:16px;
    box-shadow: 2px 2px 0px #333;
}
header input{
    width:80%;
}
header button{
    width: 19%;
    text-align: center;
    transition: background-color 0.25s;
}
header button:hover{
    background:#02aab0;
    color:#eee;
}
/* list remind */
#list li{
    position: relative;
    list-style-type:none;
    padding:12px;
    padding-left:40px;
    font-size:18px;
    transition: 0.55s;
    background:linear-gradient(to right,#fff, #fff);
    background-position: -200px;
    cursor: pointer;
}
#list li:hover{
    background:linear-gradient(to right,#c74b74, #f7bb97);
    background-position:0;
}
#list .done{
    padding-left:22px;
    text-decoration: line-through;
}
#list .done:before{
        content: '✓';
        margin-right:7px;
        display:inline-block;
}
#list li .remove{
    position: absolute;
    right:0;
    padding: 0 25px;
    margin-top:-12px;
    box-sizing: border-box;
    border:none;
    background:none;
    font-size:20px;
    height:100%;
    transition:0.25s;
}
#list li .remove:hover{
    background:rgb(231, 85, 85);
    color:#fff;
}
#alert{
    padding:6px;
    background:rgb(241, 91, 91);
    color:#fff;
    text-align: center;
    position: fixed;
    bottom:-100px;
    right:0;
    left:0;
    transition: 0.5s;
}
@media only screen and (min-width: 768px) {
    body{
        background:#f2f2f2;
    }
    header{
        position: fixed;
        top:35px;
        left:35px;
        width:350px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        border-radius:2px;
        overflow: hidden;
    }
    header input{
        width:100%;
    }
    header button{
        margin-top:6px;
        width:100%;
    }
    #list{
        background:#fff;
        position: fixed;
        top:35px;
        bottom:35px;
        left:450px;
        right:35px;
        padding:0px;
        border-radius:2px;
        overflow: hidden;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
}
#empty{
    display:none;
    color:#aaa;
    text-align: center;
}
#empty img{
    width:250px
}
#empty span{
    font-size:30px;
    display:block;
    pointer-events: none;
}